<ion-header class="ion-no-border">
      <ion-toolbar style="--background: transparent; position: absolute; top: 0; z-index: 100;">
        <ion-buttons slot="start">
          <ion-button (click)="partagerImage()" style="--color: white; --background: rgba(0,0,0,0.5); border-radius: 50%;">
            <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button (click)="fermer()" style="--color: white; --background: rgba(0,0,0,0.5); border-radius: 50%;">
            <ion-icon name="close-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content style="--background: #000; --overflow: hidden;">
      <div class="zoom-container">
        <img [src]="imageSrc" class="pinch-zoom-img" />
      </div>
    </ion-content>