<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>À propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-section ion-text-center">
    <ion-icon name="bar-chart-outline" class="main-icon"></ion-icon>
    <h2>Y-TrendSetters</h2>
    <p>Version 1.0.0</p>
  </div>

  <ion-card mode="ios">
    <ion-card-content>
      Nous visons à Offrir une solution de paiement simple, sécurisée et accessible à tous pour gérer vos transactions quotidiennes en un clic. Disponible 24/7, notre application vous permet de suivre l'état de vos produits, effectuer des paiements et gérer vos finances en toute simplicité.
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Sécurité & Technologie</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="shield-checkmark-outline" color="success"></ion-icon>
      <ion-label>
        <h3>Paiements Sécurisés</h3>
        <p>Propulsé par la technologie Stripe</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="body-outline" color="success"></ion-icon>
      <ion-label>
        <h3>Discussion Sure et Privée</h3>
        <p>on vous propose un service de qualité pour vos échanges privés</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline" color="success"></ion-icon>
      <ion-label>
        <h3>Protection des données</h3>
        <p>Cryptage de bout en bout</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="footer-section ion-text-center ion-margin-top">
    <p>© 2026   Y-trendsetters</p>
    <ion-button fill="clear" size="small" color="medium">Conditions d'utilisation</ion-button>
  </div>
</ion-content>