<ion-header [translucent]="true">
  <ion-toolbar color="secondary" >
    <ion-title >
      Y-TrendSetters
    </ion-title>
    <ion-searchbar class="recherche-produits" *ngIf="showSearch" 
                   placeholder="Rechercher un nom..."
                   (ionInput)="filterArticles($event)"
                   placeholder="Rechercher...">
    </ion-searchbar>

    <ion-buttons slot="start" class="btn-search-thin">
      <ion-button size="small" (click)="toggleSearch()">
        <ion-icon [name]="showSearch ? 'close-outline' : 'search-outline'" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-edit-butt">
      <ion-button *ngIf="!isLoggedIn" size="small" (click)="seConnecter()">
        <ion-icon name="enter-outline" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button *ngIf="isLoggedIn" (click)="confirmerDeconnexion()" size="small">
        <ion-icon name="person-circle" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-edit-thin">
      <ion-button size="small" (click)="presentActionSheetModifier()">
        <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  padding>
  <ion-list >
  <ion-card-content >
    <ion-list>
      <ion-item *ngFor="let article of filteredArticles" (click)="showDetails(article)" class="mon-element-cliquable">
        <ion-thumbnail slot="start">
          <img [src]="article.picture?.[0]" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ article.name }}</h2>
          <p>{{ article.description }}</p>
          <p>{{ article.price | currency }}</p>
          <p>
            <span >
              <ion-icon  class="iconYellow" [name]="1 <= article.averageStar ? 'star' : 'star-outline'"></ion-icon>
            </span>
            <span >
              <ion-icon  class="iconYellow" [name]="2 <= article.averageStar ? 'star' : 'star-outline'"></ion-icon>
            </span>
            <span >  
              <ion-icon  class="iconYellow" [name]="3 <= article.averageStar ? 'star' : 'star-outline'"></ion-icon>
            </span>
            <span >
              <ion-icon  class="iconYellow" [name]="4 <= article.averageStar ? 'star' : 'star-outline'"></ion-icon>
            </span>
            <span >
              <ion-icon  class="iconYellow" [name]="5 <= article.averageStar ? 'star' : 'star-outline'"></ion-icon>
            </span>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  </ion-list>
</ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin">
    <ion-fab-button color="secondary">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
  <ion-fab-list side="top" activated="true">
    <ion-fab-button color="light" (click)="vendreArticle()">
    <ion-icon name="newspaper-outline"></ion-icon>
  </ion-fab-button>
    <ion-fab-button color="light" (click)="ouvrirCamera()">
      <ion-icon name="camera"></ion-icon>&nbsp;
    </ion-fab-button>
    <ion-fab-button color="light" (click)="ouvrirLePanier()">
      <ion-icon name="cart"></ion-icon>&nbsp;
    </ion-fab-button>
    <ion-fab-button color="light" (click)="ouvrirLePorteFeuilleElectronique()">
      <ion-icon name="wallet"></ion-icon>&nbsp;
    </ion-fab-button>
     <ion-fab-button color="light" (click)="aProposDeLapplication()">
      <ion-icon name="information-circle-outline"></ion-icon>&nbsp;
    </ion-fab-button>
    <ion-fab-button color="light" (click)="Assistance()">
    <ion-icon name="accessibility-outline"></ion-icon>&nbsp;
    </ion-fab-button>
    <ion-fab-button color="light" (click)="ouvrirLesParametres()">
    <ion-icon name="construct-outline"></ion-icon>&nbsp;
    </ion-fab-button>
    <ion-fab-button color="light" (click)="OuvrirLaMessagerie()" size="small" (click)="clicMessagerie($event)" style="position: relative;">
    <ion-icon name="mail-outline"></ion-icon>&nbsp;
    <span *ngIf="aDesNouveauxMessages" 
          style="position: absolute; 
                 top: 8px; 
                 right: 2px; 
                 width: 11px; 
                 height: 11px; 
                 background-color: #f5f6f9; 
                 border-radius: 50%; 
                 border: 1.5px solid white;
                 z-index: 10;">
    </span>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>