<ion-header [translucent]="true">
  <ion-toolbar color="secondary" >
    <ion-title>
      Y-TrendSetters
    </ion-title>
    <ion-buttons slot="end" class="btn-edit-thin">
      <ion-button size="small" (click)="presentActionSheetModifier()">
        <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  padding>
  <ion-list >
  <ion-card-content >
    <ion-list>
      <ion-item *ngFor="let article of Articles" (click)="showDetails(article)" class="mon-element-cliquable">
        <ion-thumbnail slot="start">
          <img [src]="article.picture?.[0]" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ article.name }}</h2>
          <p>{{ article.description }}</p>
          <p>{{ article.price | currency }}</p>
          <p>
            <span *ngIf="article.averageStar >=1">
              <ion-icon class="iconYellow" name="star"></ion-icon>
            </span>
            <span *ngIf="article.averageStar >=2">
              <ion-icon class="iconYellow" name="star"></ion-icon>
            </span>
            <span *ngIf="article.averageStar >=3">  
              <ion-icon class="iconYellow" name="star"></ion-icon>
            </span>
            <span *ngIf="article.averageStar >=4">
              <ion-icon class="iconYellow" name="star"></ion-icon>
            </span>
            <span *ngIf="article.averageStar >=5">
              <ion-icon class="iconYellow" name="star"></ion-icon>
            </span>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  </ion-list>
</ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin">
    <ion-fab-button color="secondary">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
  <ion-fab-list side="top" activated="true">
    <ion-fab-button color="light" (click)="vendreArticle()">
    <ion-icon name="newspaper-outline"></ion-icon>
  </ion-fab-button>
    <ion-fab-button color="light" (click)="ouvrirCamera()">
      <ion-icon name="camera"></ion-icon>&nbsp;
    </ion-fab-button>
    <ion-fab-button color="light" (click)="ouvrirLePanier()">
      <ion-icon name="cart"></ion-icon>&nbsp;
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>